<<<<<<< HEAD
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.card-form {
	/*width: 22rem;*/
}
=======
<<<<<<< HEAD
>>>>>>> createQuestion

:root {
	--input-padding-x: 0.75rem;
	--input-padding-y: 0.75rem;
}

/*form styling*/
.form-group-label > label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: all 0.1s ease-in-out;
}

.form-group-label > input,
.form-group-label > label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-group-label input::placeholder {
	color: transparent;
}

.form-group-label input::-webkit-input-placeholder {
	color: transparent;
}

.form-group-label input:-ms-input-placeholder {
	color: transparent;
}

.form-group-label input::-ms-input-placeholder {
	color: transparent;
}

.form-group-label input::-moz-placeholder {
	color: transparent;
}

.form-group-label input:not(:placeholder-shown) {
	padding-top: calc(
		var(--input-padding-y) + var(--input-padding-y) * (2 / 3)
	);
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-group-label input:not(:placeholder-shown) ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

.form-group input {
	height: 3rem;
}

img {
	height: 8em !important;
	text-align: center;
}



.form-group-label label {
	cursor: text;
}

.form-group-label input {
	height: 3rem;
}

/*end of form styling*/

#navBar {
	box-shadow: 0 4px 2px -2px gray;
}

/*tooltip styling*/
.e-tooltip-container .e-tooltip {
	opacity: 85%;
	text-align: center;
	position: absolute;
	z-index: 1;
	bottom: 60%;
	/*left: 50%;*/
}

.e-tooltip-container {
	position: relative;
}

.e-tooltip:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #f5c6cb transparent transparent transparent;
}

<<<<<<< HEAD
/*styling for the side nav*/

.sidenav {
	height: 100%;
	width: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	display: none;
}

.sidenav .openbtn {
	position: absolute;
	color: white;
	top: 10px;
	right: 30%;
	font-size: 36px;
	margin-left: 50px;
	font-size: 30px;
	cursor: pointer;
}
.sidenav button {
	width: relative;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	display: none;
}

.sidenav a:hover {
	color: #f1f1f1;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
=======
>>>>>>> 213bbde20db877fff537755067d7d1945bd0f36c
=======
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



.form-checkbox td .inlineCheckbox1{
	margin-left:20px;
	width: 20px;
	height: 20px;
}

.form-checkbox td .inlineCheckbox2{
	margin-left: 60px;
	width: 20px;
	height: 20px;
}

.form-checkbox td .inlineCheckbox3{
	margin-left: 33px;
	width: 20px;
	height: 20px;
}

.form-checkbox td .inlineCheckbox4{
	margin-left: 60px;
	width: 20px;
	height: 20px;
}

.form-checkbox td .inlineCheckbox5{
	margin-left: 66px;
	width: 20px;
	height: 20px;
}

#questions{
	padding-left: 200px;
}
>>>>>>> 7810909757328eb2bf7de04d084a9e5124264c4b
>>>>>>> createQuestion
